.R-library/
.Rhistory
.RData
.Rproj.user/
database/
models/
output/
package_install.log
verification.log
production.log
package_install_sequential.log
reload_verification.log
final_verification.log
api_verification.log
archive*/
.paper-work/
csgo_xD_scripts.zip
/CSGO_xD_Research_Paper.docx
__pycache__/
~$*.docx
.presentation-work/
.chart-data-*/
